@import "@wordpress/dataviews/build-style/style.css";

#media-manager-root {
    margin: 20px 20px 20px 0;
    background: #fff;
    padding: 20px;

    .media-thumbnail {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 4px;
    }

    .media-filename {
        font-family: monospace;
        font-size: 12px;
        color: #666;
    }
}